In [4]:
# classification of dataset using 'cut' method

import pandas as pd

d1 = {
    'name': ['tom','pat','sam','joe','raj','bob','alice'],
    'age': [21,21,20,20,21,20,20],
    'mark': [56,93,85,67,71,79,62]
}

df = pd.DataFrame(d1)

print(type(df))

print(df)

<class 'pandas.core.frame.DataFrame'>
    name  age  mark
0    tom   21    56
1    pat   21    93
2    sam   20    85
3    joe   20    67
4    raj   21    71
5    bob   20    79
6  alice   20    62

In [3]:
# cut - takes 2 arguments i.e., series,range,labels

df['grade'] = pd.cut(df['mark'],bins=[50,60,75,90,100],labels=['D','C','B','A'])

print(df)

    name  age  mark grade
0    tom   21    56     D
1    pat   21    93     A
2    sam   20    85     B
3    joe   20    67     C
4    raj   21    71     C
5    bob   20    79     B
6  alice   20    62     C

In [5]:
print(df['name'])

0      tom
1      pat
2      sam
3      joe
4      raj
5      bob
6    alice
Name: name, dtype: object